<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <h1>HR Management</h1>
  <span class="menu-spacer"></span>


</mat-toolbar>
<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
    <mat-nav-list (click)="showSubmenu = !showSubmenu">

      <a mat-list-item [routerLink]="'/dashboard'"> DashBoard <mat-icon mat-list-icon>home</mat-icon></a>

      <a mat-list-item [routerLink]="'/Employee'"> Employee <mat-icon mat-list-icon>home</mat-icon></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>